<h1>ZombiePirateNinjaRobot</h1>

<form action="/charcreate" method="post">

{% csrf_token %}

<div id='password'>
<p>Great, you're connected with Foursquare.</p>

<p>Give us a password so we can get you in without doing that again.</p>

	<input type="password" name="password" />

<p>Select your type!</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for class in class_list.all %}
    <input type="radio" name="class" id="class{{ forloop.counter }}" value="{{ class.id }}" />
    <label for="class{{ forloop.counter }}">{{ class.className }}</label><br />
{% endfor %}
<input type="submit" value="Select" />
</form>
