<!DOCTYPE html>

<html>
<head>
	<script src="/scripts/jquery-1.5.1.min.js"></script>
	<script>
		jQuery(window).ready(function(){
			jQuery("#btnInit").click(initiate_geolocation);
		});
	
		function initiate_geolocation() {
			navigator.geolocation.getCurrentPosition(handle_geolocation_query);
		}

		function handle_geolocation_query(position){
			alert('Lat: ' + position.coords.latitude + ' ' +
				'Lon: ' + position.coords.longitude)};
	</script>

<body>

<h1>ZombiePirateNinjaRobot</h1>

<div id='message'>
<p>You are now a {{class.desc}} {{player_class.className}}.</p>

<button id="btnInit">Find my Location </button>

When it pops up, confirm using location finding so that we can check you in on foursquare.

If you get tired of waiting, you can search.

SEARCH

LIST

<div id='venuelist'>
<p>These players recently joined:</p>
{% if venue_list %}
    <ul>
    {% for venue in venue_list %}
        <li><a href="/player/{{ player.id }}/">{{ player.playerName }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No players are available.</p>
{% endif %}
</div>

</body>

</html>
